*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 7%;
    background: transparent;
}
section{
    padding: 0 0 0 11%;
}
.logo{
    font-size: 30px;
    font-weight: 700;
    color: white;
}
.navlist{
    display: flex;
}
.navlist a{
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navlist a:hover{
    border-bottom: 2px solid white;
}
#menu-icon{
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.champion{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #260851 0%, #2e0851 28.53%, #470962 75.52%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 6rem;
}
.champion-text h5{
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 30px;
}
.champion-text h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    line-height: 1  ;
    color: white;
    margin: 0 0 45px;
}
.champion-text h4{
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}
.champion-text p{
    color: white;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 40px;
}
.champion-img img{
    width: 450px;
    height: auto;
}
.champion-text a{
    display: inline-block;
    color: white;
    background: rgb(158, 57, 169);
    border: 1px solid transparent;
    padding: 10px 26px;
    line-height: 1.4;
    font-size: 13px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .50s ease;
}
.champion-text a:hover{
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}
.champion-text a.ctaa{
    background: transparent;
    border: 1px solid white;
    margin-left: 20px;
}
.champion-text a.ctaa i{
    vertical-align: middle;
    margin-right: 5px;
}
.socialMedia{
    position: absolute;
    top: 50%;
    padding: 0 5%;
    transform: translateY(-50%);
}
.socialMedia i{
    display: block;
    margin: 26px 0;
    font-size: 24px;
    color: white;
    transition: all .50s ease;
}
.socialMedia i:hover{
    color: rgb(198, 73, 212);
    transform: translateY(-5px);
}
.scroll-down{
    position: absolute;
    bottom: 7%;
    right: 9%;
}
.scroll-down i{
    display: block;
    font-size: 30px;
    color: white;
    background: rgb(158, 57, 169);
    border-radius: 50%;
    transition: all .50s ease;
}
.scroll-down i:hover{
    transform: translateY(-5px);
}

/* responsive styles */

@media (max-width: 1200px) {
    header{
        padding: 15px 3%;
        transition: .2s;
    }
    .socialMedia{
        padding: 0 4%;
        transition: .2;
    }
    .scroll-down{
        right: 8%;
        transition: .2s;
    }
}
@media (max-width: 1115px){
    section{
        padding: 0 12%;
        transition: .2s;
    }
}
@media (max-width: 995px){
    .champion-img img{
        width: 100%;
        height: auto;
    }
    .champion-text h1{
        font-size: 75px;
        margin: 0 0 30px;
    }
    .champion-text h5{
        margin-bottom: 25px;
    }
}
@media (max-width: 995px){
    section{
        padding: 0 3%;
        transition: .2s;
    }
}